
.nav_container{
    z-index: 2;
    color: white;
    font-family: Lora, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.logo{
    font-size: 2em; 
    /* color: white; */
}
.logo_container{
    width: 20%;
    text-align: center;
}
.nav_items{
    width: 35%;
    margin-right: 7rem;
    /* margin: 0 auto; */
   
}
.nav_item{
    color: white;

    text-decoration: none;
}

@media screen (max-width: 1230px) {
    
}
