.nav_container{
    z-index: 2;
    color: white;
    font-family: Lora, sans-serif;
    font-size: 18px;
    line-height: 20px;
}
.logo{
    font-size: 2em; 
    color: white;
}
.logo_container{
    width: 20%;
}
.nav_items{
    width: 50%;

}
.nav_item{
    color: white;
    text-decoration: none;
}
header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #f17228;
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        display: block;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        transition: 1s;
        transform: translateY(-100vh);
        
    }
    header .responsive_nav{
        transform: none;
    }
}

