*, *::after, *::before {
    box-sizing: border-box;
     
}
body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    font-size: 1rem;
    font-family: 'Lora', serif;
    line-height: 1rem;
}
img{
    max-width: 100%;
}
.container{   
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}
.row{
    display: flex;
    justify-content: space-between;
   
}
.home_container{
    position: relative;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.pexels.com/photos/414110/pexels-photo-414110.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 0em;
}
.sec1 {
    position: relative;
    /* top: .5em; */
    text-align: center;
    padding: 2em;
    /* align-items: center; */
}
.sec1_text h2{
    font-size: 50px;
    color: white;
}
.sec1_text > p{
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 30px;    
    color: hsla(0, 0%, 100%, 0.63);
    font-size: 18px;
    font-weight: 300;
}
.btn{
    padding: 15px 35px;
    background-color:  #f17228;   
    border: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.btn a{
    color: white;
    text-decoration: none;
}
.sec2{     
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    /* box-shadow:  .2px .2px #768088; */
}

.sec2 li{
    list-style-type: none;
}
.sec2_item{    
    text-decoration: none;  
    text-align: center;
    color: #768088;;
}
.sec2_item:hover{
    padding: 1em 2em;
    background-color: #f0f0f0;
    color: #243039;
}
.sec2_items{
    display: flex;
    justify-content: center;
    gap: 4em;
}
.sec3_text{
    text-align: center;
    margin-top: 2rem;
   font-size: 1.4em;
}

.images{
   display: flex;
   justify-content: center;
   padding: 4em; 
   gap: 2em; 
}
.image {
    width:60%;
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 9px;
    background-image: url('https://images.unsplash.com/photo-1502134249126-9f3755a50d78?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: 50% 50%;
    background-size: cover;
    color: hsla(0, 0%, 100%, 0.7);
    box-shadow: 2px 2px 5px #243039;
    transform-style: preserve-3d;
}
.image2{
    background-image: url('https://images.unsplash.com/photo-1488415032361-b7e238421f1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
  
}

.author-img{
    position: static;  
    width: 26px;
    border-radius: 60px;
    margin: 0 auto;
}
.new{
    border: 2px solid #e5e5e5;
    border-radius: 4px;
}
.author-info{
    display: flex;
    justify-content: space-between;
}
.author-content{
    border-top:  1px solid #e5e5e5;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
}
.author-dets{
    display: flex;
    align-items: center;
    gap: .5em;
}
.lite{
    font-size: 12px;
}
.featured-details{
    margin-top: 2em;
}
.featured-text {
    margin-top: 10em;
}
.most_recent{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    /* gap: .75em; */
    padding: 4em;  
}
.most_recent-items{ 
    padding: 2em;  
    transition: 1s;
}
.sec4_text{
    text-align: center;
}
.med-divider{
    display: block;
    width: 18%;
    height: 1px;
    margin: 16px auto;
    background-color: #dedede;
    list-style-type: lower-alpha;
}
.info{
    margin-bottom: 13px;
}
.info_text{
    margin: 1em;
    height: 100px;
    font-size: 14px;
}
.pic1{    
    border-radius: 3px;
    display: block;
    width: 100%;
    height: 150px;
   }
.thumb{
    max-width: 100%;
}
@media only screen and (max-width: 553px) {
    .sec1_text > h2{
        line-height: 51px;
    }
    
    .sec3{
        width: 100%;
    }
    .sec3_items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        padding: 0;
    }
   .most_recent{
    display: block;
    padding: 0;
   }
    .sec2_item{
        text-align: center;
    }
    .featured-text {
        margin-top: 8em;
    }
    .most_recent{
        display: grid;
        grid-template-columns:  1fr ;
        gap: 2em;
    }

}
@media only screen and (max-width: 1200px) {
   
    .image{
        border-radius: 5px;
        margin-bottom: 2em;
    }
    .image2{
        border-radius: 5px;
    }
  
    .images{
        display: block;
        padding: 0;
        margin-top: 2em;
    }
   
    .sec3_items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5em;
        text-align: center;
    
    }
    .sec3_item{
        display: grid;
        grid-template-columns: 1fr ;
        gap: .5em;
    }
    .featured-text {
        margin-top: 8em;
    }
}
